PORT=3003
DATABASE_URL=jdbc:postgresql://localhost:5432/ecom_order
DATABASE_USER=ecom
DATABASE_PASSWORD=ecom
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_ENABLED=true
CART_SERVICE_URL=http://localhost:3002
PRODUCT_CATALOG_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3007
PAYMENT_SERVICE_URL=http://localhost:3004
SHIPPING_SERVICE_URL=http://localhost:3005
INVOICE_SERVICE_URL=http://localhost:3006
SPRING_PROFILES_ACTIVE=dev
